body {
    background-color: black;
    margin: 0;
    padding-top: 53px;
    font-family: 'Roboto', sans-serif;
}

.header {
    border: 1px solid;
    max-width: 1230px;
    margin: auto;
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.list {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
}

.item-link {
    color: white;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
}